# Thumbnail cache files
.DS_Store
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.my/
.specify/
specs/
.serena/
.ipython/
.jupyter/
my-profile-data/
pyinstrument-profile/
_docs/
